@using System.Collections
@using BExIS.Web.Shell.Helpers
@model BExIS.Ddm.Model.Property

<div>

<p class="PropertyHeader">@Model.DisplayName</p>


@{ 
    string value = Model.DefaultValue;
    int i = 0;
}

@if(this.Session["PropertiesDictionary"] as Dictionary<string, string> !=null)
{
    Dictionary<string, string> dic = this.Session["PropertiesDictionary"] as Dictionary<string, string>;
    value = ((dic != null && dic.ContainsKey(Model.DataSourceKey)) ? dic[Model.DataSourceKey] : Model.DefaultValue); //HtmlHelpers.GetSelectedValueInDictionary(Model.DataSourceKey, Model.DefaultValue, this.Session["PropertiesDictionary"] as Dictionary<string, string>); 
}

@if (Model.Values.Any())
{
    @(Html.Telerik().DropDownList()
          .Name(Model.DataSourceKey)
          .Placeholder(Model.DefaultValue)
          .BindTo(new SelectList(Model.Values))
          .ClientEvents(events => events
              .OnChange("onChange"))
          )
}
else
{
    @(Html.Telerik().DropDownList()
          .Name(Model.DataSourceKey)
          .Placeholder(Model.DefaultValue)
          .DropDownHtmlAttributes(new { disabled = "disabled", @class = "bx-disabled" })
          .BindTo(new SelectList(Model.Values))
    )
}

</div>
<script type="text/javascript">
    function onChange(e) {

        var value = e.value;
        var node = e.currentTarget.name;

        //alert(value + "," + e.currentTarget);
        $("#" + e.currentTarget.id).prop("selectedIndex");

        if (value !== "" && value !== "All") {
            $.post('@Url.Action("FilterByDropDown", "Home", new RouteValueDictionary {{"area", "DDM"}})',
                { value: value, node: node },
                function(response) {
                    //alert(response);
                    $(".searchBreadcrumbNavigation").html(response);
                });

            $.post('@Url.Action("UpdateFacets", "Home", new RouteValueDictionary {{"area", "DDM"}})', {}, function (response) {
            $("#searchTreeView").html(response);
        })
        

            refreshGrid();
        }
    }

</script>